.simulation-button {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: left;
    margin-right: 3px;
}

#simulation-sandbox {
    position: absolute;
    left: -110%;
    top: 0;
}

.container {
    position: relative;
    margin-right: 2vw;
}

.hidden {
    display: none;
}